@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255, 100;
  --background-start: 20, 20, 20;
}


body {
  color: rgb(var(--foreground-rgb));
  caret-color: transparent;
  overflow-y: scroll;
  transition: all 0.2s;
  background-color: rgb(var(--background-start));
}

p{
  text-align: center;
  margin: 1rem;
}

.bg{
  background-image: url('/6thbg.webp');
  position: fixed;
  z-index: -99;
  background-size: 100%;
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  filter: blur(20px) brightness(50%);
}

.seprate{
  height: 20px;
  background-color: rgb(var(--background-start));
}

h1 {
  background-color: rgb(var(--background-start));
  color:whitesmoke;
  text-align:center;
  font-size: 3rem;
  font-weight:bold ;
  user-select:none;

}

@media screen and (max-width: 500px) {
  .xxlb{
    width: 2rem;
    border-radius: 5px;
    margin-right: 20px;
    display: inline;
  }
  h1 {
    color:whitesmoke;
    text-align:center;
    font-size: 2rem;
    font-weight:bold ;
    user-select:none;
  }
}

.xxlb{
  width: 5rem;
  border-radius: 5px;
  margin-right: 20px;
  display: inline;
}
.links{
  background-color: rgb(var(--background-start));
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.linkContent {
  /* background-color: red; */
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  color: gainsboro;
  border: 1px solid transparent;
  transition: all 0.2s;
}

.linkContent:hover {
  background-color: rgb(46, 46, 46);
  color: white;
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 5px gray;
}

.theList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img.songImg{
  float: left;
  border-radius: 10px;
  border: 1px solid gray;
  height: 100%;
  cursor: pointer;
}

.songCard {
  background-color: rgb(var(--background-start));
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 0.8rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 2px 2px 5px gray;
  height: 10rem;
  width: 20rem;
  overflow: hidden;
}

.songInfo{
  margin-left: 8.9rem;
  /* border: 1px solid red; */
}

.songTitle{
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight:bold ;
}

.songArtist{
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  font-style: italic;
}

.songDesigner{
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.songLevel{
  float: left;
  text-align: center;
  text-shadow: 1px 1px gray;
  border-radius: 5px;
  margin: 0.1rem;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0.6rem;
  line-height: 1.2rem;
  border: 1px solid gray;
  overflow: hidden;
  cursor: pointer;
  user-select:none;
}

.songLevel:hover{
  border: 2px solid white;
}

#lv0.songLevel{
  background-color: rgb(111, 171, 250);
}
#lv1.songLevel{
  background-color: rgb(93, 212, 93);
}
#lv2.songLevel{
  background-color: rgb(202, 202, 84);
}
#lv3.songLevel{
  background-color: rgb(255, 91, 91);
}
#lv4.songLevel{
  background-color: rgb(134, 23, 134);
}
#lv5.songLevel{
  background-color: rgb(189, 63, 189);
}
#lv6.songLevel{
  background-color: rgb(255, 145, 0);
}

.songId{
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;           
  position: absolute;
  padding-left: 3px;
  padding-right: 4px;
  border-radius: 10px 0px;
  user-select:none;
}


.searchInput{
  caret-color: white;
  background-color: black;
  border: 1px solid whitesmoke;
  text-align:center;
  width: 20rem;
  height: 2rem;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
}

.searchDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.majViewPort{
  margin-bottom: 15px;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .majViewPort{
    width:100%;
    aspect-ratio: 1;
  }
  .majCanvas{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 500px) {
  .majViewPort{
    margin-top: 15px;
    width:70%;
    height: 40rem;
    transform: translate(21.5%,0);
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
  }
  .majCanvas{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.majPlaceHolder{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20rem;
}

.userinput{
  caret-color: white;
  background-color: black;
  border: 1px solid whitesmoke;
  height: 2rem;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
}

.formbox{
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 20%;
}

@media screen and (max-width: 500px) {
  .formbox{
    width: 100%;
  }
}

.inputHint{
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

*:disabled{
  background-color: rgb(92, 0, 0);
}

.downloadButton{
  fill: white;
  stroke: white;
  width: 100%;
  height: 100%;
}

.shareButton{
  fill: white;
  stroke: white;
  width: 100%;
  height: 100%;
  padding: 1px;
}

.downloadButtonBox{
  margin-top: 0.5rem;
}

.LazyLoad {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.footerImage{
  width: 10%;
  margin: 3rem;
  margin-left: 45%;
  margin-right: 45%;
}

.commentbox{
  height: 6rem;
  width: 16rem;
}

.CommentCard{
  background-color: rgb(var(--background-start));
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 2px 2px 5px gray;
  width: 20rem;
}

.CommentUser{
  color: whitesmoke;
  text-align: left;
  margin: 0.3rem;
  font-weight: bold;
}

.CommentContent{
  text-align: left;
  margin: 0.6rem;
  overflow: auto;
  white-space: pre-wrap;
}

.commentIco{
  fill: white;
  stroke: white;
  width: 100%;
  height: 100%;
  padding: 3px;
}

.commentNumber{
  text-align: center;
  font-size: 0.8rem;
}

.commentBox{
  margin-left: 3px;
  width: 1.3rem;
  height: 1.3rem;
  float: left;
  border: 1px solid transparent;
  border-radius: 5px;
}

.loading {
  width: 50px;
  height: 50px;
  border: 3px solid rgb(var(--background-start));
  border-top-color: white;
  border-radius: 50%;
  margin: auto;
  animation: spin 0.1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: rgb(209, 134, 252);
  }

  50% {
    transform: rotate(180deg);
    border-top-color: rgb(151, 239, 255);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: rgb(255, 255, 255);
  }
}


